<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% listings.forEach(function(listing){ %>
    <div>
      <h4><%= listing.title %></h4>
      <p><%= listing.description %></p>
      <p>from: <%= listing.user %></p>
    </div>
    <% }); %>
  </body>
</html>
